---
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>My Astro Starter</title>
  </head>
  <body class="antialiased bg-white dark:bg-black">
    <div class="min-h-screen text-black dark:text-white">
      <slot />
    </div>
  </body>
</html>
